# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc

# Environment variables (SECRETS)
.env

# Firebase / API keys (VERY IMPORTANT)
serviceAccountKey.json

# OS files
.DS_Store
Thumbs.db

# Logs
*.log